#footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__container {
    padding: 1.5rem;
}

.footer__top,
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__link-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer__column-title {
    font-weight: 600;
    margin: 1rem 0;
}

.site-footer .social-links__container a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--dark-grey)
}

.copyright-text {
    margin: 0
}

.social-links__container {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-links__container li {
    display: inline-block;
    margin-bottom: 4px
}

/* .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
} */

.social-links__container a {
    background-color: var(--white);
    color: var(--light-grey);
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-links__container a:active,
.social-links__container a:focus,
.social-links__container a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-links__container.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-links__container .facebook:hover {
    background-color: #3b5998
}

.social-links__container .twitter:hover {
    background-color: #00aced
}

.social-links__container .linkedin:hover {
    background-color: #007bb6
}

.social-links__container .instagram:hover {
    background-color: #ed5688
}

@media (max-width: 1100px) {
    .footer__bottom {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 600px) {

    .social-links__container li.modal__title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }

    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-links__container {
        text-align: center
    }

    .footer__top {
        display: none;
    }
}