/* Login form */
.form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.form__row {}

.form__input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.form__input:focus {
    outline: none;
}

/* active */
input:focus~label,
input.used~label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    color: #4a89dc;
}

/* active */
.form__input:focus~.bar:before,
.form__input:focus~.bar:after {
    width: 50%;
}

/* active */
.form__input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}