/* Global stylings */
:root {
    --black: #171717;
    --dark-grey: #333333;
    --medium-grey: #636363;
    --light-grey: rgba(189, 187, 187, 0.825);
    --primary-color: #4380fc;
    --warning-color: rgb(227, 71, 71);
    --white: white;
    --light-green: rgb(3, 187, 3);
    --dark-green: rgb(10, 110, 10);
    --navy-blue: #41a8a8;
    --transparant-bg-color: rgba(51, 51, 51, 0.52);
    /*--nav-color: #4c648c;*/
    --footer-color: rgba(148, 176, 220, 0.68);
    --nav-color: rgba(148, 176, 220, 0.68);
    --cookie-container-color: rgb(124, 133, 141);
    --border: 1px solid var(--light-grey);
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}

/*Typography*/
.title {
    margin: 1rem;
}

.section-header {
    margin: 1rem;
}

.section-header--center {
    text-align: center;
    margin: 1rem 0;
}

.text {
    margin: 1rem;
    line-height: 1.5;
}

/* Components */
.container {
    padding: 1.5rem;
}

.container--horizontal {
    display: flex;
    align-content: center;
    column-gap: 1rem;
}

.container--vertical {
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 1rem;
}

.container--center {
    width: 100%;
    position: relative;
}

.container--center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.05s linear;
    border: none;
}

.btn--success {
    background-color: var(--primary-color);
}

.btn--warning {
    background-color: var(--warning-color);
}

.btn--disabled {
    pointer-events: none;
}

.btn:hover {
    transform: scale(1);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
}

.icon {
    padding: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 10px;
}

/*Card*/
.card__container {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.card__container--center {
    justify-content: center;
    align-items: center;
}

.card__wrapper {
    margin: 1rem;
}

.card {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.2rem;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

.card__img {
    width: 100%;
    min-width: 50%;
    height: auto;
}

.card__head {}

.card__body {
    position: relative;
}

.card__body * {
    margin: .5rem 0;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.card__text {
    line-height: 1.5;
}

.card__row {
    display: flex;
    column-gap: .5rem;
}

.card__link {
    text-decoration: underline;
}

/*Card information*/
.card--information {
    padding: .5rem;
}

.card__img--information {
    height: 200px;
    width: auto;
}

.card__head--information {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card horizontal */
.card--horizontal {
    display: flex;
    flex-direction: row;
    /*width: 700px;*/
    /*height: 250px;*/
    flex-basis: 45%;
}

.card__container {
    margin: 1rem;
}

.card__container--horizontal {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.card__right {
    padding: 1rem .5rem;
    line-height: 1.5;
}

.card__left,
.card__right {
    width: 50%;
}

.card__img--horizontal {
    width: 100%;
    height: 100%;
}

.card__container.available-site-container {
    width: 100%;
}

.available-site {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.wearable-tech-img {
    width: 150px;
    height: 150px;
}

/* Navbar & Header */
#header {
    border-bottom: var(--border);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    height: 60px;
    padding: 1.5rem 2rem;
    background: var(--nav-color);
}

.header__left,
.header__right,
.nav__link-container {
    display: flex;
    align-items: center;
}


.nav {
    position: relative;
}

.nav__logo {
    font-size: 1.3rem;
    font-weight: 800;
    margin-right: 1.2rem;
}

.nav__link {
    font-size: 1rem;
    font-weight: 500;
    min-width: 50px;
    margin: .5rem 1rem;
}

.nav__link:hover {
    color: var(--navy-blue);
}

#hamburger-menu {
    display: none;
    padding: 0.1rem;
    margin-left: 1rem;
    font-size: 1.9rem;
}

/*Footer*/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-color);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 1.5rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
}

.footer__link-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer__column-title {
    font-weight: 600;
    margin: 1rem 0;
}

.you_are_here {
    font-size: 1.1rem;
    font-weight: bold;
}

/*Footer Bottom*/
.copyright-text {
    margin: 0
}

.social-links__container {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-links__container li {
    display: inline-block;
    margin-bottom: 4px
}

/*.social-links {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    margin-left: 6px;*/
/*    margin-right: 0;*/
/*    border-radius: 100%;*/
/*    background-color: var(--transparant-bg-color)*/
/*}*/

.social-links {
    background-color: var(--white);
    color: var(--light-grey);
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-links:active,
.social-links:focus,
.social-links:hover {
    color: #fff;
    background-color: #29aafe
}

/*.social-links__container.size-sm a {*/
/*    line-height: 34px;*/
/*    height: 34px;*/
/*    width: 34px;*/
/*    font-size: 14px*/
/*}*/

.social-links__container .facebook:hover {
    background-color: #3b5998
}

.social-links__container .twitter:hover {
    background-color: #00aced
}

.social-links__container .linkedin:hover {
    background-color: #007bb6
}

.social-links__container .instagram:hover {
    background-color: #ed5688
}

/*Sticky popup form */
#sticky-form-open-btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 85vh;
    right: 15px;
    border-radius: 50%;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* Forms */
.form {
    width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(59, 58, 58, 0.82) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.login--form {
    width: auto;
    min-width: 300px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.register--form {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.form__input {
    font-size: 14px;
    padding: 5px;
    display: block;
    background: var(--white);
    color: var(--dark-grey);
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--light-grey);
}

.form__row {
    max-width: 90%;
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    column-gap: 2rem;
}

.form__input:focus {
    outline: none;
}

.form__title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/*Modal form*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 90%;
    max-height: 95%;
    width: auto;
    /* Remove the fixed width */
    height: auto;
    /* Remove the fixed height */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header .modal__title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white);
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white);
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-bg {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#modal-bg.active {
    opacity: 10;
    pointer-events: all;
}

/* Table */
.table {
    border: 1px solid var(--dark-grey);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.table__caption {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.table__header {
    font-size: 1.2em;
    margin: 1rem .75em;
}

.table__row {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    padding: .35em;
}

.table__column,
.table__data {
    padding: .625em;
    text-align: center;
}

.table__column {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.action-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home page */
.page_banner {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../images/banner-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.page_banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_banner-content p {
    font-size: 1.2em;
}

.page_banner-content a {
    text-align: center;
    text-decoration: underline;
    margin: 1rem 0;
    display: block;
    width: 100%;
}

.available-campsite {
    flex: 50% 50%;
}

#slider__container {
    min-width: 500px;
}

/* About us */
.about_us-title {
    margin: 1rem;
}

.about_us {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0.5rem;
}

.about_us p {
    flex-basis: 50vw;
    line-height: 1.6;
    word-spacing: 3px;
}

.about_us iframe {
    width: 450px;
    height: 250px;
    border-radius: 5px;
    border: 0;
}

#location_map {
    width: 400px;
    height: 220px;
}

/* Image slider */
@keyframes slider_animation {
    0% {
        left: 0%;
    }

    25% {
        left: -25%
    }

    50% {
        left: -50%;
    }

    75% {
        left: -75%;
    }

    100% {
        left: -100%;
    }
}

#slider__container {
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 400%;
    font-size: 0;
    animation: 12s slider_animation infinite;
    left: -100%;
    margin: 0 auto;
}

.slide {
    width: 300px;
    height: auto;
    display: inline-block;
    position: inherit;
}

.slide__img {
    width: 300px;
    height: 250px;
}

.slide__caption {
    position: absolute;
    bottom: 0;
    background: var(--transparant-bg-color);
    color: var(--white);
    width: 100%;
    font-size: 1rem;
    padding: .6rem;
}

/*PitchTypesANdAvailability*/
.campsite__filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.input__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.search__input {
    padding: .75rem;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid black;
}

.dropbox__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


/*Campsite details page*/
/*Site details showcase component*/
.details__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

#campsite-showcase__container {
    width: 40%;
}

#showcase-image {
    width: 100%;
    height: 300px;
}

#product-details__container {
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}

.product-details__features-container {
    margin: 1rem 0;
}

.product-details {
    margin-bottom: 40px;
}

.product-details-header {
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}

.product-details-subheader {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.value {
    color: var(--primary-color);
    font-weight: bold;
    margin-left: 5px;
}

.product-details-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
}

.preview-header {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}

.preview-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}

.detail-img {
    margin: 5px;
    width: 85px;
    height: 50px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

.details__btn-container {
    display: flex;
    justify-content: start;
    column-gap: 1rem;
    padding: 1rem;
}

.non {
    width: 85px;
    height: 50px;
}

.details-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-map iframe {
    width: 50%;
    height: 250px;
}

/*Information*/
.information-map-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.information-map-container iframe {
    height: 100%;
    border-radius: 5px;
}

/*Review*/
.review__container {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.review {
    border: 1px solid black;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    border-radius: 5px;
}

.review__text {
    text-align: center;
}

.review__title {
    font-size: 16px;
    font-weight: 600;
}

.review__img {
    width: 200px;
}

.review__form {
    width: 350px;
}

.review__body {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.review__body * {
    text-align: center;
}

/* Features */
.features_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    height: auto;
    padding: .5rem;
}

.feature {
    list-style-position: inside;
}

/* Wearable tech */
.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product,
.product__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product {
    border: 1px solid black;
    border-radius: 5px;
    padding: .5rem;
}

/* Contact us page */
.contact__textarea {
    height: 250px;
}

.select {
    padding: .2rem;
}

/* Booking */
.booking-form {
    margin-top: 8vh;
    margin-bottom: 5vh;
}

/*PitchTypes and Availability page*/
.available-site {
    display: flex;
    column-gap: 1rem;
    width: 60vw;
}

.available-site-img {
    width: 300px;
    height: auto;
}

.available-site-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: .5rem;
}

/* Cookie accept section */
#cookie-banner-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    color: white;
}

#cookie-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
    background-color: var(--cookie-container-color);
}

.cookie-banner-btn {
    display: flex;
    column-gap: 2rem;
}

#cookie-banner-container.close {
    display: none;
}

/*Account navbar*/
#account-container {
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    top: 60px;
    right: 2rem;
    z-index: 20000;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--nav-color);
}

#account-container-wrapper {
    display: none;
}

#account-container-wrapper.active {
    display: inline-block;
}

/******* Tablet view **********/
@media only screen and (max-width: 900px) {
    #hamburger-menu {
        display: block;
    }

    .header__container {
        padding: 1.2rem;
    }

    .nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        min-height: 50vh;
        width: 100vw;
        z-index: 10000;
    }

    .nav.show {
        display: flex;
    }

    .nav__link-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 1rem;
        padding: 1rem;
        width: 100%;
    }

    .nav__link-container .nav__link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0;
    }

    .nav__link-container>li:not(:last-child) {
        padding-bottom: 0.5rem;
        border-bottom: var(--border);
    }

    /*Homepage*/
    /*Showcase section */
    .desktop-text {
        display: none;
    }

    /*Information page*/
    .information-container {
        display: flex;
        flex-direction: column;
    }


    .card--information {
        width: 70%;
        margin-top: 2rem;
    }

    /*Pitch Type page*/
    .available-site {
        width: 100%;
    }

    .available-site-img {
        width: 200px;
    }
}


@media only screen and (max-width: 600px) {
    .header__login-signup {
        display: none;
    }

    /*Footer*/
    .footer__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Home page*/
    .container--horizontal.available-campsite {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    .slide__img {
        height: 200px;
    }

    .card__container.card__container--center.campsite--type {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .card {
        width: 90%;
    }

    #about_us {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    #location_map {
        width: 98%;
    }

    /*Information page*/
    .information-map-container {
        width: 85%;
    }

    .information-map-container iframe {
        width: 100%;
    }

    /*Features page*/
    .card__container--horizontal.card--feature {
        display: flex;
        flex-direction: column;
    }

    /*Form*/
    .form {
        width: 450px;
    }

    /*Pitch Type page*/
    .available-site {
        width: 100%;
        flex-direction: column;
    }

    .available-site-img {
        width: 100%;
    }
}